@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html, body {
  width: 100vw;
  height: 100vh;
}

.text-field {
  &.outline {
    outline-style: initial !important;
  }
}

.notifications {
  > .position-top-center, > .position-bottom-center {
    max-width: 600px !important;
    >.default-notification-style > .default-notification-style-content {
      width: 510px !important;
    }
  }
  .default-notification-info {
    background-color: #60a5fa !important;
  }
}