.divider-title:after {
  font-size: 1.25rem !important;
  left: 3em !important;
  transform: translate(0, -55%) !important;
}
.example {
  background-color: #f9f9f9;
  margin: 2em 0;
  padding: 1em;
  border-radius: 0.25em;
}